RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

<FilesMatch "\.(env|sql|md|json|lock)$">
    Require all denied
</FilesMatch>

<FilesMatch "^(composer\.json|\.env)">
    Require all denied
</FilesMatch>

Options -Indexes
